<!DOCTYPE html>
<html lang="en">
 <head>
  <link type="text/css" rel="stylesheet" href="{{url_for('static',
  filename='css/style.css')}}" />
 <script type="text/javascript"
 src="https://maps.googleapis.com/maps/api/js">
 </script>
 <script type="text/javascript">
 var map;
 var marker;
 function initialize() {
 var mapOptions = {
 center: new google.maps.LatLng(40.741895,-73.989308),
 zoom: 14
 };
 map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
 google.maps.event.addListener(map, 'click',
 function(event){
 placeMarker(event.latLng);
 });
 }
 function placeMarker(location) {
 if (marker) {
 marker.setPosition(location);
 } else {
 marker = new google.maps.Marker({
 position: location,
 map: map
 });
 }
 document.getElementById('latitude').value = location.lat();
 document.getElementById('longitude').value = location.lng();
 }
 </script>
 </head>
 <body onload="initialize()">
  <h1>Incident Map</h1>
  <p>A map of recent activity in the New York City Area. </p>
  <div id="map-canvas"></div>

 <div id="newincidentform">
  <h2>Submit new incident</h2>
  <form action="/submitincident" method="POST">
    <label for="category">Category</label>
    <select name="category" id="category">
      <option value="fire">Fire</option>
      <option value="shooting">Shooting</option>
      <option value="naturaldisaster">Natural Disaster</option>
      <option value="bomb">Bomb</option>
    </select>
    <label for="date">Date</label>
    <input name="date" id="date" type="date">
    <label for="latitude">Latitude</label>
    <input name="latitude" id="latitude"
    type="text">
    <label for="longitude">Longitude</label>
    <input name="longitude" id="longitude"
    type="text">
    <label for="description">Description</label>
    <textarea name="description" id="description"
      placeholder="A brief but detailed
    description of the crime"></textarea>
    <input type="submit" value="Submit">
 </form>
</div>

</body>
</html>